/* styles/components/linkedArtImage.css */

/* *** abstract linkedArtImg *** */

/*
  One Component @see fields/representations > LazyLoadImage
  which gets styles with different subclasses like @see http://smacss.com

  Different cases for LazyLoadImage

*/

.linkedArtImg {
  @apply text-gray-600;
}

.linkedArtImg-wrapper {
  @apply transition-opacity duration-300 ease-in opacity-0;
}

.s-loaded .linkedArtImg-wrapper {
  @apply opacity-100;
}

.linkedArtImg-src {
  @apply border-4 border-white drop-shadow-md;
  transition: 0.3s ease-in-out;
  filter: grayscale(0);
}


/* *** slide image *** */

.linkedArtImg--slide {
   @apply h-full drop-shadow-md; 

  .linkedArtImg-wrapper {
    @apply flex flex-col items-center justify-center h-full transform-none;
  }
  .linkedArtImg-src {
    @apply  object-contain max-w-full max-h-full;
  
  }
}

/* *** slide slidePortrait *** */

.linkedArtImg--slidePortrait{
   @apply h-[80%] drop-shadow-md;

  .linkedArtImg-wrapper {
    @apply flex flex-col items-center justify-center h-full transform-none;
  }
  .linkedArtImg-src {
    @apply  object-contain max-w-full max-h-full;
  
  }
}

/* *** coreset menu gallery*** */

.linkedArtImg--coresetMenu{
   @apply h-full; 

  .linkedArtImg-wrapper {
    @apply flex flex-col items-center justify-center h-full transform-none;
  }
  .linkedArtImg-src {
    @apply  object-cover w-full h-full border-2;
  
  }
}
