.field-markdown-styles {
  @apply text-lg;

  h3 {
    @apply pt-8 pb-4 text-2xl serifMedium;
  }
  p {
    @apply pb-2;
  }
  b,
  strong {
    @apply font-semibold;
  }
  i,
  em {
    @apply italic;
  }
  a {
    @apply underline hover:text-red;
  }
}


.anchorHtml {
  @apply text-gray-600 hover:text-red;
}
.bg-white-alpha-60 {
  background-color: rgba(255, 255, 255, 0.6);
}
.btn-bg-transition {
  @apply px-2 transition-colors duration-200 ease-in rounded-sm;
}
.btn-bg-transition--gray {
  @apply hover:bg-gray-300;
}

.btn-bg-transition--white:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.serifSemibold {
  @apply font-serif font-semibold tracking-wide;
}

.serifMedium {
  @apply font-serif font-medium tracking-wide;
}

.loadingCentered {
  @apply justify-center py-48;
}

.flexCenteredFullScreen {
  @apply flex items-center justify-center h-screen
}