/* styles/utilities.css */

/* ** markdown  ** */

/* purgecss start ignore */

.slide-markdown-styles {
  @apply text-base leading-tight;

  h3 {
    @apply pt-8 pb-4 text-4xl font-light first-letter:uppercase;
  }
  p {
    @apply pb-2;
  }
  b,
  strong {
    @apply font-light;
  }
  i,
  em {
    @apply italic;
  }
  a {
    @apply underline hover:text-red;
  }
}

/* purgecss end ignore */
